.head{
    color: rgb(255, 81, 0);
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

/*a{
    color: red;
    text-decoration: underline;
}

a:hover{
    color: rgb(185,28,28);
}*/